{% extends "dashboard_base.html" %}

{% block content %}

<h2 class="mb-4">

Doctor Dashboard

</h2>

<div class="row">

<div class="col-md-4">

<div class="card">

<div class="card-body">

<h5>Total Patients</h5>

<h1>{{ total_patients }}</h1>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card">

<div class="card-body">

<h5>Appointments</h5>

<h1>0</h1>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card">

<div class="card-body">

<h5>Treatments</h5>

<h1>0</h1>

</div>

</div>

</div>

</div>

{% endblock %}