{% extends "dashboard_base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-warning">

            <h3>Edit Nurse</h3>

        </div>

        <div class="card-body">

            <form method="POST">

                <div class="mb-3">
                    <label>Full Name</label>
                    <input
                        type="text"
                        name="full_name"
                        class="form-control"
                        value="{{ nurse.full_name }}"
                        required>
                </div>

                <div class="mb-3">
                    <label>Username</label>
                    <input
                        type="text"
                        name="username"
                        class="form-control"
                        value="{{ nurse.username }}"
                        required>
                </div>

                <div class="mb-3">
                    <label>Email</label>
                    <input
                        type="email"
                        name="email"
                        class="form-control"
                        value="{{ nurse.email }}"
                        required>
                </div>

                <div class="mb-3">
                    <label>Phone</label>
                    <input
                        type="text"
                        name="phone"
                        class="form-control"
                        value="{{ nurse.phone }}"
                        required>
                </div>

                <button class="btn btn-warning">
                    Update Nurse
                </button>

                <a href="{{ url_for('nurses') }}"
                   class="btn btn-secondary">
                    Cancel
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}