{% extends "dashboard_base.html" %}

{% block content %}

<div class="alert alert-primary shadow-sm">

    <strong>Integrated Patient Care Management System</strong>

    <br>

    Manage Patients, Doctors, Appointments, Treatments and Billing efficiently.

</div>

<div class="d-flex justify-content-between mb-3">

<h2>💊 Treatments</h2>

<a href="{{ url_for('add_treatment') }}"
   class="btn btn-primary">

   <i class="bi bi-plus-circle"></i> Add Treatment

</a>

</div>

<div class="row mb-3">

    <div class="col-md-4">

        <input
            type="text"
            id="treatmentSearch"
            class="form-control"
            placeholder="🔍 Search Treatment...">

    </div>

</div>

<table class="table table-striped table-hover table-bordered align-middle" id="treatmentTable">

    <thead class="table-primary">

<thead>

<tr>

<th>Patient</th>

<th>Diagnosis</th>

<th>Medicines</th>

<th>Date</th>
<th>Actions</th>

</tr>

</thead>

<tbody>

{% for treatment in treatments %}

<tr>

<td>{{ treatment.patient.full_name }}</td>

<td>{{ treatment.diagnosis }}</td>

<td>{{ treatment.medicines }}</td>

<td>{{ treatment.date }}</td>
<td>

<a href="{{ url_for('edit_treatment', id=treatment.id) }}"
class="btn btn-warning btn-sm">

 <i class="bi bi-pencil-square"></i> Edit

</a>

<a href="{{ url_for('delete_treatment', id=treatment.id) }}"
class="btn btn-danger btn-sm"
onclick="return confirm('Delete this treatment?')">

<i class="bi bi-trash"></i> Delete

    </a>

            </td>

        </tr>

    {% else %}

        <tr>

            <td colspan="6" class="text-center text-muted">

                No Treatments Available

            </td>

        </tr>

{% endfor %}

</tbody>

</table>

{% endblock %}

{% block scripts %}

<script>

document.getElementById("treatmentSearch").addEventListener("keyup", function() {

    let value = this.value.toLowerCase();

    let rows = document.querySelectorAll("#treatmentTable tbody tr");

    rows.forEach(function(row){

        row.style.display =
            row.innerText.toLowerCase().includes(value)
            ? ""
            : "none";

    });

});

</script>

{% endblock %}